## Day-11 assignment

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv("general_data.csv")

In [3]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
df.isnull()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4406,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4409,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [5]:
df=df.dropna()

In [6]:
df.describe()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
count,4382.000000,4382.000000,4382.000000,4382.0,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000,4382.0,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000
mean,36.933364,9.198996,2.912369,1.0,2207.804884,2.063898,65061.702419,2.693291,15.210634,8.0,0.794614,11.290278,2.798266,7.010497,2.191693,4.126198
std,9.137272,8.105396,1.024728,0.0,1271.688783,1.106115,47142.310175,2.497832,3.663007,0.0,0.852397,7.785717,1.289402,6.129351,3.224994,3.569674
min,18.000000,1.000000,1.000000,1.0,1.000000,1.000000,10090.000000,0.000000,11.000000,8.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,2.000000,2.000000,1.0,1108.250000,1.000000,29110.000000,1.000000,12.000000,8.0,0.000000,6.000000,2.000000,3.000000,0.000000,2.000000
50%,36.000000,7.000000,3.000000,1.0,2208.500000,2.000000,49190.000000,2.000000,14.000000,8.0,1.000000,10.000000,3.000000,5.000000,1.000000,3.000000
75%,43.000000,14.000000,4.000000,1.0,3308.750000,3.000000,83790.000000,4.000000,18.000000,8.0,1.000000,15.000000,3.000000,9.000000,3.000000,7.000000
max,60.000000,29.000000,5.000000,1.0,4409.000000,5.000000,199990.000000,9.000000,25.000000,8.0,3.000000,40.000000,6.000000,40.000000,15.000000,17.000000

In [7]:
df=df.replace({"Yes":1,"No":0})
df.head(10)
df.shape

(4382, 24)

In [8]:
from scipy.stats import pearsonr

### finding correlation between Attrition and other variables:

In [9]:
vars1=['Age' , 'DistanceFromHome',
       'Education','JobLevel', 'MonthlyIncome',
       'NumCompaniesWorked',  'PercentSalaryHike',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']
len(vars1)

13

In [10]:
for i in vars1:
    
    print(f"Null Hypothesis: {i} variable has no effect on Attrition" )
    print(f"Alternate Hypothesis: {i} variable has significant effect on Attrition" ,end="\n\n")
    
    stats,p=pearsonr(df.Attrition,df[i])
    print("stats = {0} and p = {1}".format(stats,p))
    if (-0.5<stats<0 ):
        print(f"stats = {stats}---> {i} and Attrition are negatively correlated")
    elif (-1<stats<-0.5):
        print(f"stats = {stats}--->{i} and Attrition are strongly negatively correlated")
    elif (0<stats<0.5):
        print(f"stats = {stats}--->{i} and Attrition are positively correlated")
    elif (0.5<stats<1):
        print(f"stats = {stats}--->{i} and Attrition are strongly positively correlated")
    else:
        print("error")
              
    if(p<0.05):
        print(f"{p} < 0.05--> Reject Null Hypothesis and accept Alternative Hypothesis")
        print(f"{i} variable has significant effect on Attrition" ,end="\n\n\n")
    else:
        print(f"{p} > 0.05--> Accept Null Hypothesis and reject Alternative Hypothesis")
        print(f"{i} variable has no effect on Attrition" ,end= "\n\n\n")

Null Hypothesis: Age variable has no effect on Attrition
Alternate Hypothesis: Age variable has significant effect on Attrition

stats = -0.1583986795409671 and p = 5.1265982193780794e-26
stats = -0.1583986795409671---> Age and Attrition are negatively correlated
5.1265982193780794e-26 < 0.05--> Reject Null Hypothesis and accept Alternative Hypothesis
Age variable has significant effect on Attrition


Null Hypothesis: DistanceFromHome variable has no effect on Attrition
Alternate Hypothesis: DistanceFromHome variable has significant effect on Attrition

stats = -0.009448638515156258 and p = 0.5317715668019558
stats = -0.009448638515156258---> DistanceFromHome and Attrition are negatively correlated
0.5317715668019558 > 0.05--> Accept Null Hypothesis and reject Alternative Hypothesis
DistanceFromHome variable has no effect on Attrition


Null Hypothesis: Education variable has no effect on Attrition
Alternate Hypothesis: Education variable has significant effect on Attrition

stats = -0.017106307050278706 and p = 0.25757539308157945
stats = -0.017106307050278706---> Education and Attrition are negatively correlated
0.25757539308157945 > 0.05--> Accept Null Hypothesis and reject Alternative Hypothesis
Education variable has no effect on Attrition


Null Hypothesis: JobLevel variable has no effect on Attrition
Alternate Hypothesis: JobLevel variable has significant effect on Attrition

stats = -0.01238156972079089 and p = 0.4125489150380087
stats = -0.01238156972079089---> JobLevel and Attrition are negatively correlated
0.4125489150380087 > 0.05--> Accept Null Hypothesis and reject Alternative Hypothesis
JobLevel variable has no effect on Attrition


Null Hypothesis: MonthlyIncome variable has no effect on Attrition
Alternate Hypothesis: MonthlyIncome variable has significant effect on Attrition

stats = -0.030160293808460678 and p = 0.045890862744719166
stats = -0.030160293808460678---> MonthlyIncome and Attrition are negatively correlated
0.045890862744719166 < 0.05--> Reject Null Hypothesis and accept Alternative Hypothesis
MonthlyIncome variable has significant effect on Attrition


Null Hypothesis: NumCompaniesWorked variable has no effect on Attrition
Alternate Hypothesis: NumCompaniesWorked variable has significant effect on Attrition

stats = 0.04283056724472085 and p = 0.004572057121620842
stats = 0.04283056724472085--->NumCompaniesWorked and Attrition are positively correlated
0.004572057121620842 < 0.05--> Reject Null Hypothesis and accept Alternative Hypothesis
NumCompaniesWorked variable has significant effect on Attrition


Null Hypothesis: PercentSalaryHike variable has no effect on Attrition
Alternate Hypothesis: PercentSalaryHike variable has significant effect on Attrition

stats = 0.03315303713546657 and p = 0.028192446935112747
stats = 0.03315303713546657--->PercentSalaryHike and Attrition are positively correlated
0.028192446935112747 < 0.05--> Reject Null Hypothesis and accept Alternative Hypothesis
PercentSalaryHike variable has significant effect on Attrition


Null Hypothesis: StockOptionLevel variable has no effect on Attrition
Alternate Hypothesis: StockOptionLevel variable has significant effect on Attrition

stats = -0.008164026684984355 and p = 0.588999635830954
stats = -0.008164026684984355---> StockOptionLevel and Attrition are negatively correlated
0.588999635830954 > 0.05--> Accept Null Hypothesis and reject Alternative Hypothesis
StockOptionLevel variable has no effect on Attrition


Null Hypothesis: TotalWorkingYears variable has no effect on Attrition
Alternate Hypothesis: TotalWorkingYears variable has significant effect on Attrition

stats = -0.16966991684723914 and p = 1.1645434967091854e-29
stats = -0.16966991684723914---> TotalWorkingYears and Attrition are negatively correlated
1.1645434967091854e-29 < 0.05--> Reject Null Hypothesis and accept Alternative Hypothesis
TotalWorkingYears variable has significant effect on Attrition


Null Hypothesis: TrainingTimesLastYear variable has no effect on Attrition
Alternate Hypothesis: TrainingTimesLastYear variable has significant effect on Attrition

stats = -0.047585736930817205 and p = 0.0016276603635474061
stats = -0.047585736930817205---> TrainingTimesLastYear and Attrition are negatively correlated
0.0016276603635474061 < 0.05--> Reject Null Hypothesis and accept Alternative Hypothesis
TrainingTimesLastYear variable has significant effect on Attrition


Null Hypothesis: YearsAtCompany variable has no effect on Attrition
Alternate Hypothesis: YearsAtCompany variable has significant effect on Attrition

stats = -0.13300261842521532 and p = 9.476118084840815e-19
stats = -0.13300261842521532---> YearsAtCompany and Attrition are negatively correlated
9.476118084840815e-19 < 0.05--> Reject Null Hypothesis and accept Alternative Hypothesis
YearsAtCompany variable has significant effect on Attrition


Null Hypothesis: YearsSinceLastPromotion variable has no effect on Attrition
Alternate Hypothesis: YearsSinceLastPromotion variable has significant effect on Attrition

stats = -0.03142315056330984 and p = 0.03752293607394267
stats = -0.03142315056330984---> YearsSinceLastPromotion and Attrition are negatively correlated
0.03752293607394267 < 0.05--> Reject Null Hypothesis and accept Alternative Hypothesis
YearsSinceLastPromotion variable has significant effect on Attrition


Null Hypothesis: YearsWithCurrManager variable has no effect on Attrition
Alternate Hypothesis: YearsWithCurrManager variable has significant effect on Attrition

stats = -0.15469153690287285 and p = 7.105369646772844e-25
stats = -0.15469153690287285---> YearsWithCurrManager and Attrition are negatively correlated
7.105369646772844e-25 < 0.05--> Reject Null Hypothesis and accept Alternative Hypothesis
YearsWithCurrManager variable has significant effect on Attrition

### using corr()

In [11]:
df.drop(["EmployeeCount","StandardHours"],axis=1).corr()

,Age,Attrition,DistanceFromHome,Education,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.158399,0.007376,-0.033900,0.008105,-0.001137,-0.045163,0.299527,-0.032561,-0.031504,0.680037,-0.028962,0.311281,0.215650,0.201580
Attrition,-0.158399,1.000000,-0.009449,-0.017106,-0.004621,-0.012382,-0.030160,0.042831,0.033153,-0.008164,-0.169670,-0.047586,-0.133003,-0.031423,-0.154692
DistanceFromHome,0.007376,-0.009449,1.000000,-0.007491,-0.000326,-0.039990,-0.022757,-0.014449,0.037720,0.009353,0.009574,-0.008957,0.030746,0.002243,0.021773
Education,-0.033900,-0.017106,-0.007491,1.000000,-0.009389,0.045822,0.007289,-0.016210,-0.041054,0.002386,-0.009228,0.009939,0.005997,0.023457,0.005645
EmployeeID,0.008105,-0.004621,-0.000326,-0.009389,1.000000,-0.003090,0.007865,0.000719,-0.004877,-0.013488,-0.001688,-0.012102,0.004117,0.000814,0.009079
JobLevel,-0.001137,-0.012382,-0.039990,0.045822,-0.003090,1.000000,0.046688,-0.009759,0.010874,0.000365,-0.036293,-0.031931,-0.063360,-0.059680,-0.053898
MonthlyIncome,-0.045163,-0.030160,-0.022757,0.007289,0.007865,0.046688,1.000000,-0.021446,0.004607,0.027242,-0.034398,0.049780,0.000088,0.064470,0.023095
NumCompaniesWorked,0.299527,0.042831,-0.014449,-0.016210,0.000719,-0.009759,-0.021446,1.000000,0.030064,0.016291,0.238807,-0.031335,-0.117213,-0.035855,-0.109372
PercentSalaryHike,-0.032561,0.033153,0.037720,-0.041054,-0.004877,0.010874,0.004607,0.030064,1.000000,0.012104,-0.018480,-0.036720,-0.029022,-0.028654,-0.039687
StockOptionLevel,-0.031504,-0.008164,0.009353,0.002386,-0.013488,0.000365,0.027242,0.016291,0.012104,1.000000,0.003138,-0.068028,0.009369,0.019889,0.019398
TotalWorkingYears,0.680037,-0.169670,0.009574,-0.009228,-0.001688,-0.036293,-0.034398,0.238807,-0.018480,0.003138,1.000000,-0.041459,0.627738,0.404058,0.458640
TrainingTimesLastYear,-0.028962,-0.047586,-0.008957,0.009939,-0.012102,-0.031931,0.049780,-0.031335,-0.036720,-0.068028,-0.041459,1.000000,-0.010447,0.015340,-0.015792
YearsAtCompany,0.311281,-0.133003,0.030746,0.005997,0.004117,-0.063360,0.000088,-0.117213,-0.029022,0.009369,0.627738,-0.010447,1.000000,0.618722,0.769161
YearsSinceLastPromotion,0.215650,-0.031423,0.002243,0.023457,0.000814,-0.059680,0.064470,-0.035855,-0.028654,0.019889,0.404058,0.015340,0.618722,1.000000,0.510341
YearsWithCurrManager,0.201580,-0.154692,0.021773,0.005645,0.009079,-0.053898,0.023095,-0.109372,-0.039687,0.019398,0.458640,-0.015792,0.769161,0.510341,1.000000