In [1]:
%matplotlib inline
import pandas as pd

In [2]:
# from IPython.core.display import HTML
# css = open('style-table.css').read() + open('style-notebook.css').read()
# HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('titles .csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [4]:
print("no of movies listed in the titles dataframe: ",titles.shape[0])

no of movies listed in the titles dataframe:  244914

### What are the earliest two films listed in the titles dataframe?

In [5]:
print("The earliest two films listed in the titles dataframe: ")
print(titles.sort_values(by="year",ignore_index=True)[0:2])

The earliest two films listed in the titles dataframe:
                title  year
0          Miss Jerry  1894
1  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [6]:
print("no of movies having the title 'Hamlet' : ",end=" ")
print(titles[titles["title"]=="Hamlet"].shape[0])

no of movies having the title 'Hamlet' :  20

### How many movies are titled "North by Northwest"?

In [7]:
print("no of movies having the title 'North by Northwest' : ",end=" ")
print(titles[titles["title"]=="North by Northwest"].shape[0])

no of movies having the title 'North by Northwest' :  1

### When was the first movie titled "Hamlet" made?

In [8]:
a=titles[titles["title"]=="Hamlet"].sort_values(by="year").iloc[0,1]
print("the first movie titled 'Hamlet' was made in the year: ",a)

the first movie titled 'Hamlet' was made in the year:  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [9]:
print("List of all the 'Treasure Island' movies from earliest to most recent: ",end="\n\n")
print(titles[titles["title"]=="Treasure Island"].sort_values(by="year",ignore_index=True))

List of all the 'Treasure Island' movies from earliest to most recent:

             title  year
0  Treasure Island  1918
1  Treasure Island  1920
2  Treasure Island  1934
3  Treasure Island  1950
4  Treasure Island  1972
5  Treasure Island  1973
6  Treasure Island  1985
7  Treasure Island  1999

### How many movies were made in the year 1950?

In [10]:
print("no of movies that were made in the year 1950: ",end=" ")
print(titles[titles["year"]==1950].shape[0])

no of movies that were made in the year 1950:  1113

### How many movies were made in the year 1960?

In [11]:
print("no of movies that were made in the year 1960: ",end=" ")
print(titles[titles["year"]==1960].shape[0])

no of movies that were made in the year 1960:  1549

### How many movies were made from 1950 through 1959?

In [12]:
print("no of movies that were made from 1950 through 1959: ",end =" ")
print(titles[(titles["year"]>=1950) & (titles["year"]<=1959)].shape[0])

no of movies that were made from 1950 through 1959:  12934

### In what years has a movie titled "Batman" been released?

In [13]:
titles[titles["title"]=="Batman"].sort_values(by="year",ignore_index=True).iloc[:,1]

0    1943
1    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [14]:
cast= pd.read_csv("cast.csv")

In [15]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [16]:
print("No of roles in movie 'Inception': ",end =" ")
print(len(cast[cast["title"]=="Inception"]))

No of roles in movie 'Inception':  78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [17]:
a= len(cast[(cast["title"]=="Inception") & (cast["n"].isnull())])

In [18]:
print("{0} roles in the movie 'Inception' are Not ranked by an 'n' value.".format(a))

27 roles in the movie 'Inception' are Not ranked by an 'n' value.

### But how many roles in the movie "Inception" did receive an "n" value?

In [19]:
a=len(cast[(cast["title"]=="Inception") &  ~(cast["n"].isnull())])
print("{0} no of roles in the movie 'Inception' received an 'n' value.".format(a))

51 no of roles in the movie 'Inception' received an 'n' value.

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [20]:
cast[(cast["title"]=="North by Northwest") & ~(cast["n"].isnull())].sort_values(by="n",ignore_index=True)

,title,year,name,type,character,n
0,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
1,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
2,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
4,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
5,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
6,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
7,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
8,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
9,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
10,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
11,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
12,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
13,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
14,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
15,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [21]:
cast[(cast["title"]=="Sleuth") & (cast["year"]==1972)].sort_values(by="n",ignore_index=True)

    title  year                name     type                   character    n
0  Sleuth  1972    Laurence Olivier    actor                 Andrew Wyke  1.0
1  Sleuth  1972       Michael Caine    actor                 Milo Tindle  2.0
2  Sleuth  1972      Alec Cawthorne    actor           Inspector Doppler  3.0
3  Sleuth  1972  John (II) Matthews    actor  Detective Sergeant Tarrant  4.0
4  Sleuth  1972  Eve (III) Channing  actress             Marguerite Wyke  5.0
5  Sleuth  1972        Teddy Martin    actor      Police Constable Higgs  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [22]:
cast[(cast["title"]=="Sleuth") & (cast["year"]==2007)].sort_values(by="n",ignore_index=True)

    title  year                 name     type          character    n
0  Sleuth  2007        Michael Caine    actor             Andrew  1.0
1  Sleuth  2007             Jude Law    actor               Milo  2.0
2  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
3  Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
4  Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
5  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
6  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [23]:
a=len(cast[(cast["title"]=="Hamlet") & (cast["year"]==1921) & ~(cast["n"].isnull())])
print(" No of roles that were credited in the silent 1921 version of Hamlet : ",a)

 No of roles that were credited in the silent 1921 version of Hamlet :  9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [24]:
print("No of roles credited in Branagh’s 1996 Hamlet: ",end=" ")
print(len(cast[(cast["title"]=="Hamlet") & (cast["year"]==1996) & ~(cast["n"].isnull())]))

No of roles credited in Branagh’s 1996 Hamlet:  46

### How many "Hamlet" roles have been listed in all film credits through history?

In [25]:
a=len(cast[(cast["character"]=="Hamlet") & ~(cast["n"].isnull())])
print("{0} 'Hamlet' roles have been listed in all film credits through history".format(a))

56 'Hamlet' roles have been listed in all film credits through history

### How many people have played an "Ophelia"?

In [26]:
a=len(cast[cast["character"]=="Ophelia"])
print(f"{a} people played an 'Ophelia'.")

117 people played an 'Ophelia'.

### How many people have played a role called "The Dude"?

In [27]:
a=len(cast[cast["character"]=="The Dude"])
print(f"{a} people played a role called 'The Dude'.")

19 people played a role called 'The Dude'.

### How many people have played a role called "The Stranger"?

In [28]:
a=len(cast[cast["character"]=="The Stranger"])
print(f"{a} people played a role called 'The Stranger'.")

212 people played a role called 'The Stranger'.

### How many roles has Sidney Poitier played throughout his career?

In [29]:
a=len(cast[cast["name"]=="Sidney Poitier"])
print(f"Sidney Poitier has played {a} roles throughout his career")

Sidney Poitier has played 43 roles throughout his career

### How many roles has Judi Dench played?

In [30]:
a=len(cast[cast["name"]=="Judi Dench"])
print(f"Judi Dench has played {a} roles")

Judi Dench has played 55 roles

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [31]:
a=cast[(cast["name"]=="Cary Grant") & ((cast["year"]>=1940) & (cast["year"]<=1949))].sort_values(by= "year",ignore_index=True)
print("The list of supporting roles (having n=2) played by Cary Grant in the 1940s")
a[["year","character","n"]][a["n"]==2.0]

The list of supporting roles (having n=2) played by Cary Grant in the 1940s

   year    character    n
3  1940   Nick Arden  2.0
5  1941  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [32]:
cast[(cast["name"]=="Cary Grant") & (cast["n"]==1) & ((cast["year"]>=1940) & (cast["year"]<=1949))].sort_values(by="year",ignore_index=True)

,title,year,name,type,character,n
0,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
1,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
2,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
3,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
4,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
5,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
6,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
7,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
8,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
9,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
10,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
11,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
12,Notorious,1946,Cary Grant,actor,Devlin,1.0
13,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
14,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
15,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
16,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
17,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [33]:
print("No of roles available for actors in the 1950s : ",end=" ")
print(len(cast[(cast["type"]=="actor") & ((cast["year"]>=1950) & (cast["year"]<=1959))]))

No of roles available for actors in the 1950s :  157738

### How many roles were available for actresses in the 1950s?

In [34]:
print("No of roles available for actresses in the 1950s : ",end=" ")
print(len(cast[(cast["type"]=="actress") & ((cast["year"]>=1950) & (cast["year"]<=1959))]))

No of roles available for actresses in the 1950s :  57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [35]:
print("No of leading roles (n=1) available from the beginning of film history through 1980 : ",end=" ")
print(len(cast[(cast["n"]==1) & (cast["year"]<=1980)]))

No of leading roles (n=1) available from the beginning of film history through 1980 :  65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [36]:
print("No of non-leading roles available from the beginning of film history through 1980 : ",end=" ")
print(len(cast[(cast["n"]!=1) & (cast["year"]<=1980)]))

No of non-leading roles available from the beginning of film history through 1980 :  1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [37]:
print("No of roles through 1980 that were minor enough that they did not warrant a numeric 'n' rank  : ",end=" ")
print(len(cast[(cast["n"].isnull()) & (cast["year"]<=1980)]))

No of roles through 1980 that were minor enough that they did not warrant a numeric 'n' rank  :  448347